.header {
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    top: 0;
    transition: 0.2s 0.2s;

    &_uppart {

        height: 2.5rem;
        background-color: #004DDA;
        display: flex;
        justify-content: space-between;
        padding: 1rem 5rem;
        align-items: center;
        border-radius: 0 0 15px 15px;
        box-shadow: rgba(0, 0, 0, 0.524) 0px 5px 15px;
        transition: 0.2s;

        &_left {

            h2 {
                color: white;
                font-family: "Caveat", cursive;
                transform: rotate(-5deg);
                cursor: pointer;
                filter: drop-shadow(2px 2px 3px black);
            }

            .burger-menu {
                display: none;
            }
        }

        &_center {
            h2 {
                display: none;
            }

            &_nav {

                &_ul {
                    width: 25rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {


                        .navlink {

                            font-weight: 500;
                            color: rgb(255, 255, 255);
                            text-transform: uppercase;
                            font-size: 1rem;
                            cursor: pointer;
                            transition: 0.2s;


                            &:hover {

                                letter-spacing: 3px;

                            }

                            &::after {
                                content: "";
                                display: block;
                                width: 0;
                                height: 2px;
                                transition: 0.2s 0.1s;
                            }

                        }

                        .navlink-active {
                            letter-spacing: 3px;
                            color: rgb(255, 255, 255);


                            &::after {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 2px;
                                background-color: rgb(255, 255, 255);

                            }

                        }

                    }






                }

            }

        }

        &_right {
            .number {
                color: white;

            }

            .help {
                font-size: 0.9rem;
                color: white;
            }

            span {
                .call {
                    display: none;
                }
            }
        }
    }


    &_downpart {
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        position: sticky;
        top: 0;

        &_left {

            display: flex;
            gap: 1rem;
            align-items: center;
            transition: 0.1s;
            cursor: pointer;

            .burger-menu {
                font-size: 1.5rem;
                color: black;

            }

            p {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                color: black;
            }


        }

        &_center {

            &_searching {
                padding: 0.2rem 0.5rem 0.2rem 0.5rem;
                display: flex;
                align-items: center;
                background: linear-gradient(to right, rgba(63, 64, 64, 0.519) 20%, rgba(0, 0, 0, 0)80%);
                border-radius: 7px;
                filter: drop-shadow(4px 2px 2px rgb(0, 0, 0));


                input {
                    border: none;
                    width: 25rem;
                    outline: none;
                    font-size: 1rem;
                    background-color: #93939300;
                    color: white;
                }

                input::placeholder {
                    color: rgb(189, 186, 186);
                    font-size: 1rem;

                }


                .search {
                    font-size: 1.5rem;
                    cursor: pointer;
                    color: rgb(4, 66, 210);
                    transition: 0.2s;

                    &:active {
                        color: rgb(255, 255, 255);

                    }
                }

            }

        }

        &_right {

            display: flex;
            gap: 1rem;
            align-items: center;

            .search_mobile {
                font-size: 1.5rem;
                cursor: pointer;
                color: rgb(4, 66, 210);
                transition: 0.2s;
                display: none;
            }

            .avatar {
                font-size: 1.5rem;
                color: rgb(4, 69, 222);
                transition: 0.1s;
                cursor: pointer;

                &:hover {

                    transform: translate(0, -8%);
                    color: rgb(222, 4, 4);
                }

            }

            .wishlist {
                font-size: 1.5rem;
                color: rgb(4, 69, 222);
                transition: 0.1s;
                cursor: pointer;

                &:hover {
                    color: rgb(222, 4, 4);
                    transform: translate(0, -8%);

                }

            }

            .cart {
                position: relative;
                display: flex;

                &_icon {
                    font-size: 1.5rem;
                    color: rgb(4, 69, 222);
                    cursor: pointer;
                    transition: 0.1s;

                    &:hover {
                        color: rgb(222, 4, 4);
                        transform: translate(0, -8%);

                    }

                }

                &_counter {
                    width: 2rem;
                    position: absolute;
                    right: -2rem;
                    font-size: 0.8rem;
                    font-weight: 600;
                }

            }

        }

    }


    &_categories {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        background-color: rgba(234, 234, 234, 0.823);
        transition: 0.2s ease-in 0.2s;
        padding: 0.5rem;
        display: grid;
        height: 100vh;
        align-content: start;
        z-index: 1;

        &_heading {

            text-align: end;
            padding: 0.5rem;

            &_close {
                color: rgb(0, 0, 0);
                font-size: 1.5rem;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    transform: rotate(-65deg);
                    color: rgb(116, 7, 7);
                }
            }
        }

        &_content {
            height: 100%;
            width: 13rem;
            padding: 1rem;


            &_list {
                border-left: 3px solid rgb(2, 56, 122);
                display: grid;
                gap: 1.5rem;


                li {
                    cursor: pointer;

                    .link {
                        font-size: 1.3rem;
                        color: black;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-left: 1rem;
                        transition: 0.2s;
                    }

                    &:hover .link {
                        color: rgb(125, 2, 2);
                        margin-left: 1.5rem;

                    }
                }
            }
        }
    }

    .categories-active {
        transform: translate(0, 0);
    }

    &_cart {
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        background-color: rgb(240, 238, 238);
        transition: 0.2s ease-in 0.3s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 100vh;

        z-index: 1;

        &_heading {
            height: 2.5rem;
            background-color: #035A98;
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .total {

                color: white;
                font-weight: 500;
                font-size: 1.2rem;

            }

            .cart {
                color: wheat;
                font-size: 1.4rem;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    transform: rotate(65deg);
                }
            }
        }

        &_content {
            width: 20rem;
            height: 100vh;
            padding: 0 0 7rem;
            overflow-y: scroll;


            .searcher {
                width: 10rem;
                height: 10rem;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: rgba(0, 0, 0, 0.82);

            }

            &_empty {
                width: 11rem;
                font-size: 1.6rem;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #9CA1B9;
                font-family: 'Franklin Gothic Medium';
                text-transform: uppercase;

            }
        }

        &_view {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, 0.82);
            display: grid;
            place-content: center;
            cursor: pointer;
            transition: 0.2s;
            position: absolute;
            bottom: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.35) 5px 20px 15px;

            &:hover {
                background-color: rgb(0, 0, 0);
                bottom: 1.8rem;
            }

            p {
                font-size: 1.4rem;
                color: white;
                text-transform: uppercase;
            }
        }
    }

    .cart_active {

        transform: translate(0, 0);
    }

    &_bottom {
        padding: 1rem 5rem;
        width: 100%;
        display: none;

        &_searcher {
            align-items: center;
            background: linear-gradient(to right, rgba(63, 64, 64, 0.519), rgba(0, 0, 0, 0));
            border-radius: 7px;
            filter: drop-shadow(4px 2px 2px rgb(0, 0, 0));

            input {
                border: none;
                width: 100%;
                height: 8rem;
                padding: 1rem;
                font-size: 5rem;
                font-weight: 300;
                background-color: #84848400;
                color: rgb(255, 255, 255);
            }

            input::placeholder {
                color: rgb(213, 213, 213);
                font-size: 4rem;
            }

        }

        button {
            margin-top: 1rem;
            height: 8rem;
            width: 100%;
            padding: 1rem;
            background-color: #035A98;
            color: white;
            border: none;
            border-radius: 3px;
            font-size: 5rem;
        }
    }

    &_nav-mobile {

        display: none;
    }

}



.header-active {
    top: -2.5rem;
    background-color: rgba(255, 255, 255, 0.915);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



// --------Responcive Started For Mobile--------------------


@media screen and (max-width:556px) {


    .header {
        z-index: 2;
        border-radius: 0 0 2.5rem 2.5rem;
        width: 100%;

        &_uppart {
            height: 15rem;

            &_left {
                h2 {
                    display: none;
                }

                .burger-menu {
                    font-size: 10rem;
                    color: rgb(255, 255, 255);
                    display: block;

                }

            }

            &_center {
                h2 {
                    display: block;
                    color: white;
                    font-family: "Caveat", cursive;
                    transform: rotate(-5deg);
                    cursor: pointer;
                    font-size: 7rem;
                    filter: drop-shadow(2px 2px 3px black);
                    text-transform: capitalize;
                }

                &_nav {
                    display: none;
                }
            }

            &_right {
                .help {
                    font-size: 2.5rem;
                    display: none;
                }

                .number {
                    font-size: 2rem;
                    display: none;
                }

                span {
                    .call {
                        display: block;
                        font-size: 7rem;
                        color: white;
                    }
                }
            }
        }

        &_downpart {
            height: 15rem;

            &_left {
                .burger-menu {

                    display: none;
                }

                p {
                    font-size: 5rem;

                }
            }

            &_center {

                &_searching {
                    display: none;
                }

            }

            &_right {
                gap: 5rem;

                .search_mobile {
                    font-size: 10rem;
                    display: block;

                    &:hover {
                        color: red;
                    }
                }

                .avatar {
                    font-size: 10rem;

                }

                .wishlist {
                    font-size: 10rem;
                }

                .cart_icon {
                    font-size: 10rem;
                }

                .cart_counter {
                    font-size: 5rem;
                }
            }
        }

        .bottom-active {
            display: block;

        }

        &_categories {
            height: 100%;
            width: 60%;
            box-shadow: 3px 0 15px rgb(39, 39, 39);

            &_heading {
                height: 15rem;
                background-color: #d4d5d8;
                display: flex;
                justify-content: end;
                align-items: center;
                padding: 2rem;

                p {
                    font-size: 8rem;
                    text-transform: capitalize;
                    ;
                }

                &_close {
                    font-size: 8rem;
                    margin-left: 30%;

                }
            }

            &_content {
                width: 100%;
                margin-top: 5rem;

                &_list {
                    border-left: 3px solid rgb(2, 56, 122);
                    display: grid;
                    gap: 5rem;


                    li {
                        cursor: pointer;

                        .link {
                            font-size: 6rem;
                            color: black;
                            font-weight: 500;
                            text-transform: uppercase;
                            margin-left: 3rem;
                            transition: 0.2s;
                        }

                        &:hover .link {
                            color: rgb(125, 2, 2);
                            margin-left: 5rem;

                        }
                    }
                }

            }
        }

        &_cart {
            width: 75%;
            height: 100%;
            padding-bottom: 20rem;

            &_heading {
                height: 15rem;
                padding: 2rem;

                .total {
                    font-size: 5rem;
                }

                .cart {
                    font-size: 8rem;
                }
            }

            &_content {
                width: 100%;
                height: 100%;

                .searcher {
                    width: 30rem;
                    height: 30rem;
                }

                &_empty {
                    font-size: 5rem;
                    width: 40rem;
                    text-align: center;
                }

            }

            &_view {
                height: 10rem;

                p {
                    font-size: 5rem;

                }
            }

        }

        &_nav-mobile {
            display: block;
            width: 70%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.813);
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(-100%);
            transition: 0.2s ease-in 0.3s;
            box-shadow: 3px 3px 35px rgb(41, 41, 41);

            &_heading {
                display: flex;
                justify-content: end;
                height: 15rem;
                background-color: #035A98;
                align-items: center;
                padding: 2rem;

                h2 {
                    text-transform: capitalize;
                    color: rgb(204, 203, 203);
                    font-family: "Caveat", cursive;
                    transform: rotate(-5deg);
                    cursor: pointer;
                    font-size: 7rem;
                    filter: drop-shadow(2px 2px 3px rgb(0, 0, 0));
                }

                .close {
                    font-size: 8rem;
                    color: white;
                    transition: 0.1s;
                    margin-left: 30%;

                    &:hover {
                        transform: rotate(-25deg);
                    }
                }

            }

            &_nav {

                margin-top: 5rem;

                &_list {

                    display: grid;
                    gap: 5rem;


                    li {
                        border-bottom: 1px solid rgb(141, 139, 139);
                        padding: 1rem;
                        margin-left: 2rem;
                        font-weight: 600;
                        color: rgb(245, 245, 249);
                        text-transform: uppercase;
                        font-size: 5rem;
                        cursor: pointer;
                        transition: 0.2s;
                        cursor: pointer;

                        .navlink {

                            font-weight: 600;
                            color: rgb(245, 245, 249);
                            text-transform: uppercase;
                            font-size: 5rem;
                            cursor: pointer;
                            transition: 0.2s;
                            cursor: pointer;

                            &::after {
                                content: "";
                                display: block;
                                width: 0;
                                height: 5px;
                                transition: 0.3s 0.1s;

                            }
                        }

                        .navlink-active-mobile {
                            margin-left: 5rem;

                            &::after {
                                content: "";
                                display: block;
                                width: 50%;
                                background-color: rgb(252, 0, 0);
                            }
                        }
                    }

                }
            }
        }

        .nav-mobile-active {
            transform: translate(0);
        }

    }

    .header-active {
        top: -15rem;

    }



}