.scroll-up-icon {
    font-size: 0.1rem;
    border-radius: 50%;
    display: grid;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    background-color: #000000d8;
    place-items: center;
    opacity: 0;
    transition: 0.3s;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;

    &:hover {
        transform: translate(0, -20%);

    }
}

.scroll-up-icon-active {
    opacity: 1;
    font-size: 5rem;
}

.scroll-up-icon-active2 {
    background-color: #004cdae9;
    bottom: 8rem;
    font-size: 6rem;
}

// --------------------Responcive for Mobile---------------

@media (max-width:768px) {

    .scroll-up-icon-active {
        opacity: 1;
        padding: 3rem;
        font-size: 20rem;
        background-color: #000000e0;
    }

    .scroll-up-icon-active2 {
        background-color: #004cdade;
        bottom: 24rem;
        font-size: 24rem;
    }
}