.scroll-up-icon {
    font-size: 0.1rem;
    border-radius: 50%;
    display: grid;
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    background-color: var(--secondary-color);
    place-items: center;
    opacity: 0;
    transition: 0.3s;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;

    &:hover {
        transform: translate(0, -20%);

    }
}

.scroll-up-icon-active {
    background-color: var(--secondary-color);
    opacity: 1;
    font-size: 3.5rem;
   
}

.scroll-up-icon-active2 {
    bottom: 7rem;
    font-size: 5rem;
    color: var(--secondary-color);
    background-color: var(--fourth-color);
   

}

// --------------------Responcive for Mobile---------------

@media (max-width:768px) {

    .scroll-up-icon-active {
        opacity: 0.9;
        padding: 3rem;
        font-size: 20rem;
     
    }

    .scroll-up-icon-active2 {
        opacity: 0.9;
        font-size: 22rem;
        bottom: 25rem;
    }
}