* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;

}


:root {

    --primary-color:#161616;
    --secondary-color: #092452;
    --third-color: #e2dfdf;
    --fourth-color: white;
    --fivth-color:#00666F;
}

@media screen and (min-width:1400px) {

    body,
    html {
        font-size: 18px
    }

}

@media screen and (max-width:1200px) {

    body,
    html {

        font-size: 12px;
    }

}

@media screen and (max-width:992px) {

    body,
    html {

        font-size: 8px;
    }

}


@media screen and (max-width:768px) {

    body,
    html {

        font-size: 3px;
    }

}