* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    
}


@media screen and  (min-width:1400px){
body,html{
    font-size: 18px;
}

}

@media screen and  (max-width:1200px) {

    body,
    html {

        font-size: 12px;
    }

}


@media screen and  (max-width:992px) {

    body,
    html {

        font-size: 10px;
    }

}


@media screen and  (max-width:556px) {

    body,
    html {

        font-size: 3px;
    }

}