@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.background {
    background: url('src/assets/images/Main.jpg');
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
   scroll-behavior: smooth;
    .mySwiper {
        width: 100%;
        display: flex;
        height: 100%;
        background-color: white;
        position: relative;

        :global(.swiper-pagination-bullet) {

            width: 0.8rem;
            height: 0.8rem;
            border-radius: .5rem;
            opacity: 1;
            background-color: white;
            border: 3px solid black;

        }

        :global(.swiper-pagination-bullet-active) {
            background-color: rgb(6, 115, 170);
            height: 1rem;
            width: 1rem;
            border-radius: .5rem;
            border: 2px solid white;


        }

        &_image {
            width: 100%;
            height: 100%;
            position: relative;

            &_cover {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.453);
                z-index: 1;
                transition: 1s;

                .info {
                    position: absolute;

                    &_title {

                        text-transform: uppercase;
                        color: white;
                        font-size: 3rem;
                        line-height: 3rem;
                        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                        transform: translate(10%);
                        transition: 0.3s 0.5s;
                        opacity: 0;
                        font-weight: 900;


                    }

                    &_text {

                        color: white;
                        font-size: 1.3rem;
                        margin-top: 0.7rem;
                        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                        transform: translate(10%);
                        transition: 0.3s 0.6s;
                        opacity: 0;
                    }

                    &_title-active {

                        transform: translate(0);
                        opacity: 1;
                    }

                    &_text-active {

                        transform: translate(0);
                        opacity: 1;
                    }


                    &_button {


                        margin-top: 1.3rem;
                        padding: 0.7rem 1rem;
                        background-color: rgb(8, 75, 191);
                        border: none;
                        text-transform: capitalize;
                        color: white;
                        border-radius: 5px;
                        font-size: 1.1rem;
                        cursor: pointer;
                        transform: translate(10%);
                        transition: 0.3s 0.7s;
                        opacity: 0;
                        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                        cursor: pointer
                    }

                    &_button-active {
                        opacity: 1;
                        transform: translate(0);
                    }
                }


                .info0 {
                    position: absolute;
                    top: 40%;
                    left: 5rem;

                }

                .info1 {
                    position: absolute;
                    top: 40%;
                    right: 13rem;
                    text-align: end;

                }


                .info2 {
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    .info_title {
                        filter: none;
                        color: rgb(0, 0, 0);
                        font-weight: 900;
                    }

                    .info_text {
                        filter: none;
                        color: rgb(0, 0, 0);


                    }



                }


            }

            .cover-active {
                background-color: rgba(255, 255, 255, 0.411);
                width: 100%;
                height: 100%;
                z-index: 1;

            }

            img {
                width: 100%;
                max-height: 100%;
                object-fit: cover;
                cursor: pointer;

                &:active {
                    cursor: grab;
                }
            }
        }

        .swipe-icon {
            display: none;
        }
    }

    .collections {

        width: 100%;
        padding: 0.1rem 0;
        display: flex;
        justify-content: center;
        gap: 0.1rem;
        background-color: rgb(255, 255, 255);

        &_image {
            width: 100%;
            height: 17rem;
            overflow: hidden;
            cursor: pointer;
            position: relative;


            img {
                width: 100%;
                height: 100%;
                transition: 0.4s 0.1s;
                transform: scale(1.1);
                object-fit: cover;
                object-position: bottom;

            }

            .image-cover {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.433);
                z-index: 1;
                display: grid;

                p {
                    place-self: center;
                    color: white;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                }

                button {
                    position: absolute;
                    bottom: 2rem;
                    left: 50%;
                    transform: translate(-50%, 0);
                    transition: 0.4s 0.1s;
                    opacity: 0;
                    padding: 0.7rem 1rem;
                    background-color: rgb(4, 66, 174);
                    border: none;
                    text-transform: capitalize;
                    color: white;
                    font-weight: 600;
                    border-radius: 5px;
                    font-size: 1.1rem;
                    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                    cursor: pointer;
                }

                &:hover+img {

                    transform: scale(1);

                }

                &:hover button {
                    opacity: 1;

                    transform: translate(-50%, -50%);
                }

            }


        }

    }

    .discounted-products {

        background-color: white;
        padding: 5rem 5rem 2rem;

        &_container {
            width: 100%;
            display: grid;
            justify-content: center;

            &_heading {
                text-align: center;

                h2 {
                    text-transform: uppercase;
                    font-size: 2rem;
                    font-weight: 600;
                    font-family: sans-serif;

                }

                p {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }

            &_items {
                margin-top: 3rem;
                padding: 0.5rem;
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(5, 1fr);

            }

        }

    }

    .discount-announcement {
        width: 100%;
        height: 25rem;
        background-color: rgba(0, 0, 0, 0.497);
        position: relative;


        .info {

            position: absolute;
            top: 50%;
            left: 5rem;
            transform: translate(0, -50%);


            &_title {

                text-transform: uppercase;
                color: white;
                font-size: 3rem;
                line-height: 1;
                filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                transition: 0.3s;
                transform: translate(3%, 0);
                opacity: 0;

            }

            .title-active {

                transform: translate(0);
                opacity: 1;

            }

            &_text {

                color: white;
                font-size: 1.5rem;
                margin-top: 0.7rem;
                filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                transition: 0.3s 0.1s;
                transform: translate(3%, 0);
                opacity: 0;

            }

            .text-active {

                transform: translate(0);
                opacity: 1;

            }

            &_bottom {

                display: flex;
                align-items: end;
                gap: 1rem;
                transition: 0.3s 0.2s;
                transform: translate(3%);
                opacity: 0;


                &_price {
                    display: flex;
                    align-items: end;
                    gap: 0.3rem;
                    margin-top: 1.6rem;
                    font-size: 2rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: white;
                    filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.668));

                    span {
                        font-size: 1.3rem;
                        text-decoration: line-through;
                        color: rgb(141, 140, 140);
                        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));

                    }
                }


                &_button {

                    width: 8rem;
                    margin-top: 1.3rem;
                    padding: 0.7rem 1rem;
                    background-color: rgb(8, 75, 191);
                    border: none;
                    text-transform: capitalize;
                    color: white;
                    border-radius: 5px;
                    font-size: 1.1rem;
                    cursor: pointer;
                    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                    cursor: pointer;

                    &:hover {
                        filter: drop-shadow(3px 3px 5px rgba(54, 54, 54, 0.668));
                    }
                }


            }

            .bottom-active {

                transform: translate(0);
                opacity: 1;

            }


        }

    }

    .top-products {
        background-color: white;
        padding: 3rem 5rem 3rem;

        &_heading {
            height: 6rem;
            text-align: center;
            padding-left: 5rem;

            h2 {
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 600;
                font-family: sans-serif;

            }

            p {
                font-size: 1.5rem;
                font-weight: 300;

            }
        }

        &_container {

            display: flex;
            justify-content: center;
            gap: 0.5rem;
            position: relative;

            &_discounted-image {
                background-color: white;
                width: 30rem;
                height: 55rem;
                position: relative;

                .discount-img-cover {
                    width: 100%;
                    height: 55rem;
                    position: absolute;
                    background: linear-gradient(to right, rgba(2, 2, 2, 0.55) 30%,
                            rgba(0, 0, 0, 0.115)90%);
                    top: 0;
                    padding: 3rem 3rem 10rem;
                    display: grid;
                    align-content: space-between;

                    &_text {
                        p {
                            text-transform: uppercase;
                            font-size: 3.5rem;
                            font-weight: 600;
                            color: rgb(229, 255, 0);
                            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                            margin-bottom: 1rem;
                        }

                        span {
                            text-transform: uppercase;
                            font-size: 2rem;
                            font-weight: 600;
                            color: rgb(255, 255, 255);
                            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                        }
                    }

                    button {
                        justify-self: center;
                        color: white;
                        padding: 0.5rem;
                        font-size: 1.2rem;
                        font-weight: 500;
                        border: none;
                        border-radius: 5px;
                        background-color: #0242ba;
                        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.668));
                        cursor: pointer;
                    }

                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

            &_items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;

            }

            &_swiper {
                display: none;
                align-self: start;

                .products {
                    display: flex;


                }
            }

        }

        .logos {
            padding: 4rem 0 0;
            background-color: rgb(255, 255, 255);

            &_mySwiper {
                text-align: center;

                &_image {
                    display: flex;
                    justify-content: center;

                    img {
                        height: 5rem;
                    }
                }
            }
        }
    }


}


// --------------------Responcive for Mobile---------------

@media (max-width:768px) {

    .container {
        margin-top: 8.5rem;
        width: 215%;

        .mySwiper {
            width: 100%;
            height: 200vh;

            :global(.swiper-pagination-bullet) {

                width: 4rem;
                height: 4rem;
                border-radius: 50%;

            }

            :global(.swiper-pagination-bullet-active) {
                height: 4.5rem;
                width: 4.5rem;
                border-radius: 50%;


            }

            .info {
                width: 80%;

                &_title {
                    font-size: 10rem;
                    word-wrap: break-word;
                    line-height: 1.2;

                }

                &_text {
                    font-size: 6rem;
                    word-wrap: break-word;
                    margin-bottom: 3rem;
                    font-weight: 300;

                }

                &_button {

                    font-size: 4rem;
                    padding: 3rem 3rem;
                    font-weight: 400;

                }
            }

            .info0 {
                top: 30%;
            }

            .info1 {

                top: 30%;

            }

            .info2 {
                top: 55%
            }

            img {
                width: 100%;
                height: 100%;

            }

            .swipe-icon {
                display: block;
                font-size: 12rem;
                position: absolute;
                bottom: 2rem;
                right: 2rem;
                color: rgb(198, 194, 194);
                filter: drop-shadow(1px 1px 1px black);
                z-index: 1;

            }
        }


        .collections {
            margin-top: 1px;
            flex-direction: column;
            gap: 1px;

            &_image {
                height: 70rem;

            }

            &_image:last-child img {
                object-position: bottom;
            }

            .image-cover {
                p {
                    font-size: 7rem;
                    font-weight: 300;
                }

                button {
                    font-size: 4rem;
                    padding: 3rem 3rem;
                    font-weight: 400;
                }

            }

        }

        .discounted-products {
            &_container {
                &_heading {
                    h2 {
                        font-size: 5rem;
                    }

                    p {
                        font-size: 4.5rem;
                        font-weight: 500;
                    }
                }

                &_items {

                    width: 100%;
                    grid-template-columns: repeat(2, 1fr);


                }
            }
        }

        .discount-announcement {

            height: 120rem;

            .info {
                width: 90%;

                &_title {
                    font-size: 10rem;
                    font-weight: 900;
                }

                &_text {
                    font-size: 4.5rem;
                    margin-top: 4rem;
                    font-weight: 500;
                }

                &_bottom {
                    display: block;
                    margin-top: 4rem;

                    &_price {

                        font-size: 10rem;
                        font-weight: 500;

                        span {
                            font-size: 6rem;
                        }
                    }

                    &_button {
                        padding: 3rem 3rem;
                        width: 30rem;
                        font-size: 4rem;
                        margin-top: 6rem;
                    }
                }
            }
        }

        .top-products {

            padding: 5rem 0 0;

            &_heading {
                height: 15rem;

                p {
                    font-size: 4.5rem;
                    font-weight: 500;
                }

                h2 {
                    font-size: 5rem;
                }
            }

            &_container {

                &_discounted-image {

                    width: 50%;
                    height: 80rem;
                }

                .discount-img-cover {
                    height: 80rem;

                    p {
                        font-size: 8rem;
                    }

                    span {
                        font-size: 5rem;
                    }

                    button {
                        font-size: 4rem;
                        padding: 3rem 3rem;
                        font-weight: 400;

                    }
                }

                &_items {
                    display: none;
                }

                &_swiper {
                    padding: 0 3rem;
                    width: 50%;
                    display: block;

                }
            }

            .logos {
                padding: 5rem 0;

                &_mySwiper {
                    &_image {
                        img {
                            height: 15rem;
                        }
                    }


                }

            }
        }


    }

}

// Responcive started for small Mobile screens
@media (max-width:556px) {

    .container {
        .top-products {
            padding-top: 10rem;

            &_container {
                padding-top: 5rem;
                flex-direction: column-reverse;
                row-gap: 8rem;


                &_discounted-image {

                    width: 100%;
                    height: 120rem;
                }

                .discount-img-cover {
                    height: 120rem;

                    p {
                        font-size: 12rem;
                    }

                    span {
                        font-size: 8rem;
                    }

                    button {
                        font-size: 5rem;
                        padding: 4rem 4rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }

                &_swiper {
                    align-self: center;
                    width: 80%;
                    display: block;

                }
            }
        }
    }
}